/* =================================
   Checkbox

   Переменные:
   --input-checkbox-color-text
   --input-checkbox-color-bg
   --input-checkbox-color-bg-active

==================================== */

.checkbox {
   position: relative;
   flex: 0 0 20px;
   width: 20px;
   height: 20px;

   border-radius: 4px;
   border: 2px solid var(--app-color-shadow-2);
   background-color: var(--input-checkbox-color-bg);

   box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.3),
      inset 0 -1px 0 rgba(0, 0, 0, 0.4);

   cursor: pointer;
}

.checkbox_active {
   background-color: var(--input-checkbox-color-bg-active);
}

.checkbox_active::after {
   content: "";

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   width: 14px;
   height: 14px;

   display: inline-block;
   background-size: cover;

   color: var(--input-checkbox-color-text);
   background-color: currentColor;

   -webkit-mask-size: contain;
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: center;
   -webkit-mask-image: url("../../../../01_Assets/02_images/swords.svg");

   mask-size: contain;
   mask-repeat: no-repeat;
   mask-position: center;
   mask-image: url("../../../../01_Assets/02_images/swords.svg");
}


/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */