/* =================================
   Icon Double

   Переменные: 

   --double-icon-color-light-1
   --double-icon-color-dark-1

   --double-icon-color-light-2
   --double-icon-color-dark-2

   Классы:
   [double-icon-active]
      .double-icon double-icon-[size]
         .double-icon-element

==================================== */

.double-icon {

   --double-icon-color-light-1: var(--app-color-purple-1);
   --double-icon-color-light-2: var(--app-color-gold-1);

   --double-icon-color-dark-1: var(--app-color-purple-2);
   --double-icon-color-dark-2: var(--app-color-gold-2);
}

.double-icon {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* =================================
   SIZE - Размеры контейнера.
==================================== */

.double-icon-fill {
   width: 100%;
   height: 100%;
}

.double-icon-10 {
   width: 10px;
   height: 10px;
}

.double-icon-12 {
   width: 12px;
   height: 12px;
}

.double-icon-14 {
   width: 14px;
   height: 14px;
}

.double-icon-16 {
   width: 16px;
   height: 16px;
}

.double-icon-18 {
   width: 18px;
   height: 18px;
}

.double-icon-20 {
   width: 20px;
   height: 20px;
}

.double-icon-22 {
   width: 22px;
   height: 22px;
}

.double-icon-24 {
   width: 24px;
   height: 24px;
}

.double-icon-26 {
   width: 26px;
   height: 26px;
}

.double-icon-28 {
   width: 28px;
   height: 28px;
}

.double-icon-30 {
   width: 30px;
   height: 30px;
}

.double-icon-32 {
   width: 32px;
   height: 32px;
}

.double-icon-34 {
   width: 34px;
   height: 34px;
}

.double-icon-36 {
   width: 36px;
   height: 36px;
}

.double-icon-38 {
   width: 38px;
   height: 38px;
}

.double-icon-40 {
   width: 40px;
   height: 40px;
}

.double-icon-42 {
   width: 42px;
   height: 42px;
}

.double-icon-44 {
   width: 44px;
   height: 44px;
}

.double-icon-46 {
   width: 46px;
   height: 46px;
}

.double-icon-48 {
   width: 48px;
   height: 48px;
}

.double-icon-50 {
   width: 50px;
   height: 50px;
}

.double-icon-52 {
   width: 52px;
   height: 52px;
}

.double-icon-54 {
   width: 54px;
   height: 54px;
}

/* =================================
   SVG ICON
==================================== */

.double-icon-element {
   flex: 0 0 auto;
   width: 96%;
   height: 96%;

   /* Отключить контекстное меню на долгий тап. */
   -webkit-touch-callout: none;

   /* Отключить выделение текста. */
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* =================================
   SVG COLORS - цвета компонента.
==================================== */

.double-icon-color-light {
   fill: var(--double-icon-color-light-1);
}

.double-icon-color-dark {
   fill: var(--double-icon-color-dark-1);
}

.double-icon-active .double-icon-color-light {
   fill: var(--double-icon-color-light-2);
}

.double-icon-active .double-icon-color-dark {
   fill: var(--double-icon-color-dark-2);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */