/* =================================
   PAGE LAYOUT
==================================== */

.content-page {
   width: 100%;
   padding: 50px 20px 0 20px;
}

.content-game {
   width: 100%;
}

/* =================================
   Test
==================================== */

h1 {
   width: 100%;
   padding: 0 0 20px 0;
}

h3 {
   padding: 0 0 10px 0;
   font-weight: 500;
}

.test {
   margin-bottom: 50px;
   width: 100%;
   height: 200px;
   background-color: rgba(0, 0, 0, 0.5);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */