/* =================================
   Count Cards

   Переменные:
   --count-cards-color-bg
   --count-cards-color-text
   --count-cards-color-border

==================================== */

.count-cards {
   position: relative;
   width: 30px;
   height: 12px;
}

.count-cards-icon {
   z-index: 2;
   position: absolute;
   left: -3px;
   top: 50%;
   transform: translateY(-50%) rotate(-10deg);
}

.count-cards-value {

   padding: 1px 3px 0 0;
   width: 100%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: end;

   font-size: 8px;
   font-weight: 700;

   border-radius: 2px;
   /* border: 1px solid var(--count-cards-color-border); */

   color: var(--count-cards-color-text);
   background-color: var(--count-cards-color-bg);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */