/* =================================
   Btn Basic
==================================== */

.btn-basic {

   --svg-icon-color: var(--app-color-purple-1);

   width: max-content;
   padding: 8px 12px;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4px;

   border-radius: 4px;
   border: 2px solid var(--app-color-purple-10);
   background-color: var(--app-color-purple-9);

   cursor: pointer;
   scroll-snap-align: start;
}

.btn-basic_active {
   --svg-icon-color: var(--app-color-gold-3);
   background-color: var(--app-color-burgundy-1);
   border-color: var(--app-color-gold-3);
}

/* =================================
   Content
==================================== */

.btn-basic .svg-icon {
   width: 12px;
   height: 12px;
}

.btn-basic-title {
   font-size: 12px;
   font-weight: 600;
   color: var(--svg-icon-color);
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */